<!-- login.html -->
{% extends "base.html" %}
{% load static %}

{% block contents %}
    {% if user.is_authenticated %}
        You are already logined.
        <!-- TODO: implement the redirection to user profile page -->
    {% else %}
        <div class="text-center">
            <a href="{% url 'index' %}"><img src="{% static 'img/Langlab-logo.png' %}" class="img-responsive wau-logo" width=350px></a>
            <br>
            <h5 class="text-muted">Center for Language & Technology</h5>
            <br>
            <form method="post">
                {% csrf_token %}
                <p><label for="id_username">Username:</label> <input type="text" name="username" autofocus="" required="" id="id_username"></p>
                <p><label for="id_password">Password:</label> <input type="password" name="password" required="" id="id_password"></p>
                <button type="submit" class="btn btn-success">Login</button>
            </form>
            <br>
            <br>
        <div>
    {% endif %}
{% endblock %}
