body {
	font-family: 'Roboto', sans-serif;
	background: rgba(222,184,125, white);
	padding-top: 0px;
}
.header {
	padding-top: 12.5px;
	padding-bottom: 12.5px;
	padding-left: 15px;
	margin-bottom: 20px;
}
.title {
	color: black;
	font-weight: 300;
}
