/*
* This django application templates will use "em" as a default unit based on font size 14px
*/

body {
    font-size : 14px !important;
    margin-top: 4.25em;
}

footer {
	font-size: 1em;
	overflow : hidden;
}
footer a {
	color: rgb(10, 90, 180);
}

footer .uhm-logo {
    float: left;
}
footer .address {
    color      : rgb(25, 0, 0);
    position   : relative;
    margin-left: 6.12em;
}

footer a:hover {
	color          : rgb(87, 87, 87);
	text-decoration: none;
}

footer .copyright a {
    color: rgb(119, 119, 119)
}

.alert {
    margin: 0.2em;
}
