{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheets %}
<style type="text/css">
img.profile-img {
	display: block;
	border: 1px solid #D3D3D3;
	max-width: 224px;
	max-height: 240px;
	width: 100%;
	height: auto;
}
</style>
{% endblock %}


{% block contentwrap %}
	{% if user == profile_instance.user %}
		<h1 class="page-header">My Profile
			<span class="tour-step tour-step-one">
				<small><small>
				<a href="{% url 'profile:update' slug=user.username %}" class="text-muted tour-step tour-step-three" style='text-decoration:none;'>
				<i class="ca-tooltip fas fa-edit" data-toggle="tooltip" data-placement="top" title="Edit Profile"></i></a>
				</small></small>
			</span>
		</h1>
	{% else %}
		<h1 class="page-header">{{ profile_instance.user.username }}'s Profile</h1>
	{% endif %}
		<br>
		<div class="row">
			<div class="col-md-2">
				{% if profile_instance.image %}
					<img src="{{ profile_instance.image.url }}" class="img-thumbnail profile-img">
				{% else %}
					<img src="{% static 'img/Portrait_placeholder.png' %}" class="img-thumbnail profile-img">
				{% endif %}	
			</div>

			<div class="col-md-8">
				<h5>Username:&nbsp;&nbsp;&nbsp;{{profile_instance.user.username}} ({{profile_instance.user.email}})</h5>
				<h5>Bio:</h5>
				<p>&nbsp; {{ profile_instance.bio }}</p>
			</div>
		</div>
{% endblock %}

