{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block stylesheets %}
<style type="text/css">
img.profile-img {
	display: block;
	border: 1px solid #D3D3D3;
	max-width: 224px;
	max-height: 240px;
	width: 100%;
	height: auto;
}
</style>

<link href="{% static "font-awesome/css/font-awesome.css" %}" rel="stylesheet">
<link href="{% static "bootstrap3-editable/css/bootstrap-editable.css" %}" rel="stylesheet">
<link href="{% static "bootstrap/dist/css/bootstrap-tour.min.css" %}" rel="stylesheet">

{% endblock stylesheets%}

{% block contentwrap %}
{% if user == profile_instance.user %}
	<h1 class="page-header">My Profile
		<span class="tour-step tour-step-one">
	        <small><small>
	        <a href="{% url 'profile:update' slug=user.username %}" class="text-muted tour-step tour-step-three" style='text-decoration:none;'>
	        <i class="ca-tooltip fa fa-pencil-square-o" data-toggle="tooltip" data-placement="top" title="Edit Profile"></i></a>
	        </small></small>
	    </span>
    </h1>
{% else %}
<h1 class="page-header">{{ profile_instance.user.username }}'s Profile</h1>
{% endif %}

<div class="container-fluid">
	<div class="row">
		<br>
		<div class="row">
			<div class="col-md-3">
				{% if profile_instance.image %}
					<img src="{{ profile_instance.image.url }}" class="img-thumbnail profile-img">
				{% else %}
					<img src="{% static 'img/Portrait_placeholder.png' %}" class="img-thumbnail profile-img">
				{% endif %}	
			</div>

			<div class="col-md-6 offset-md-3">
				<div class="row">
				<h4><span><label style="font-size: 1.2em">Username:&nbsp;&nbsp;&nbsp;</label></span>{{profile_instance.user.username}}</h4>
				</div>
				<div class="row">
				<div class="col-xs-2" style="padding-left:0"><label style="font-size: 1.2em">Bio:</label></div>
				<div class="col-xs-10"><h4 style="margin-top:0">{{ profile_instance.bio }}</h4>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock contentwrap %}


{% block more_javascript %}
<script src="{% static "bootstrap3-editable/js/bootstrap-editable.js" %}"></script>
<script src="{% static "bootstrap/dist/js/bootstrap-tour.min.js" %}"></script>
<script src="{% static "js/course.js" %}"></script>
{% endblock more_javascript %}
