	                        <!-- {% else %} -->
		                        <!-- User's posts -->
	<!-- 	                        <li class="right clearfix chatlist">
		                    	<span class="chat-img pull-right">
		                            <img src="http://placehold.it/50/FA6F57/fff&amp;text=ME" alt={{ post.creator }} class="img-circle  img-responsive" />
		                        </span>
		                            <div class="chat-body clearfix">
		                                <div class="header">
		                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{ post.created }}</small>
		                                    <strong class="pull-right primary-font">{{ post.creator|capfirst }}</strong>
		                                </div>
		                                <p>
											{{ post.text }}
		                                </p>
		                            </div>
		                        </li> -->
		                        <!-- Comment Section for posts -->
	<!-- 	                        <div>
		                            <ul class="comment">
				                 	{% for post2 in activity.posts.all reversed%}
				                 	    {% if post2.parent_post == post %}
				                        <li class="left clearfix commentlist">
			                        	<span class="chat-img pull-left">
				                            <img src="http://placehold.it/50/55C1E7/fff&amp;text=U" alt={{ post2.creator }} class="img-circle  img-responsive" />
				                        </span>
				                            <div class="chat-body clearfix">
				                                <div class="header">
				                                    <strong class="primary-font">{{ post2.creator|capfirst }}</strong> <small class="pull-right text-muted">
				                                        <span class="glyphicon glyphicon-time"></span>{{ post2.created }}</small>
				                                </div>
				                                <p>
													{{ post2.text }}
				                                </p>
				                            </div>
				                        </li>
				                        {% endif %}
			                        {% endfor %}
			                        <li class="left clearfix commentlist">
			                        	<span class="chat-img pull-left">
				                            <img src="http://placehold.it/50/55C1E7/fff&amp;text=U" alt={{ user.username }} class="img-circle  img-responsive" />
				                        </span>
				                            <div class="chat-body clearfix">
												<textarea class="form-control" rows="2"></textarea>
				                            </div>
				                        </li>		                  
				                    </ul>
				                </div> -->
		                        <!--End of Comment Section-->
		                        <!-- {% endif %} -->