{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CLT Language Labs</title>

    <!-- Bootstrap -->
    <link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Extensions - Experimenting with these -->
    <!-- <link href="{% static "css/base.css" %}" rel="stylesheet"> -->
    
    <!-- The Bootstrap template named "Starter Template barebones " -->
    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">
    {% block stylesheets %} {% endblock stylesheets%}
  
  </head>
  <body>
    {% block navbar %}
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">CLT Lang Labs:</a>   
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            
          </ul>


          <!-- CONTEXT MENU -->
          <ul class="nav navbar-nav navbar-right">
          {% block activitynav %} <!-- CONTEXT MENU - Activities --> {% endblock activitynav %}

          {% block coursenav %}
          <!-- CONTEXT MENU - Courses -->
          
            <li class="dropdown">
              <a href="." class="dropdown-toggle" data-toggle="dropdown"> {% block course_button_label %} Courses <b class="caret"></b>{% endblock course_button_label %}</a>
              <ul class="dropdown-menu">
              {% block course_item_list %} 
              {% load guardian_tags %}
                {% for course_item in course_list %}
                  {% get_obj_perms user for course_item as "course_temp_perms" %}
                  {% if course_item.is_active or "edit_course" in course_temp_perms %}
                  <li {% if course_item == course %} class="bg-primary" {% endif %}><a href="{{ course_item.get_absolute_url }}">{{ course_item.nickname }}</a></li>
                  {% endif %}
                {% endfor %}
              {% endblock course_item_list %}
              <li class="divider"></li>
              <li><a href="{% url 'create_collection' %}"><small><span class="glyphicon glyphicon-plus-sign"></span> New Course</small></a></li> 
              <li ><a><small data-toggle="modal" data-target=".courseSubscribe" style="cursor:pointer;"><i class="fa fa-book"></i> Subscribe with code</small></a></li> 
              </ul>              
            </li>
          {% endblock coursenav %}
            <li class="dropdown">
            {% if not user.is_authenticated %}
              <a href="{% url 'login' %}" class="dropdown-toggle"> login </a>
            {% else %}            
              <a href="." class="dropdown-toggle" data-toggle="dropdown"> {{ user.username }}</a>            
              <ul class="dropdown-menu">
                <li><a href="{% url 'logout' %}">logout</a></li>
              </ul>
            </li>
            {% endif %}
          </ul>
          <!-- End of CONTEXT MENU ITEMS -->

        </div><!--/.nav-collapse -->
      </div>
    </div>
    {% endblock navbar %}


    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          {% block contentwrap %}{% endblock contentwrap %}
        </div>
      </div>
    </div><!-- /.container-fluid -->

    <div class="modal fade courseSubscribe" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h5 class="modal-title">Enter your accesscode below</h5>
          </div>
          <div class="modal-body">
            <form role="form">
              <div class="form-group">
                <!-- <label for="accesscodearea">Enter your accesscode below</label> -->
                <input type="text" class="form-control" id="accesscodearea" placeholder="accesscode ...">
              </div>
              <div class="btn-group btn-group-justified">
                <div class="btn-group">
                  <button id='courseSubscribeButton' class="btn btn-default btn-sm" data-subscribeurl="{% url 'subscribe_course' 'ToReplace' %}">Subscribe</button>
                </div>
              </div>
            </form>
          </div>
<!--           <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div> -->
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/base.js" %}"></script>

    {% block more_javascript %} {% endblock more_javascript %}

  </body>
</html>