{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CLT Language Labs</title>

        <!-- Google Font --> 
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,300' rel='stylesheet' type='text/css'>

        <!-- Bootstrap -->
        <link href="{% static "bootstrap-4/css/bootstrap.min.css" %}" rel="stylesheet">

        <!-- Fontawesome -->
        <link href="{% static "fontawesome-free-5.5.0-web/css/all.css" %}" rel="stylesheet">
        <script defer src="{% static "fontawesome-free-5.5.0-web/js/all.js" %}"></script>

        <!-- The Bootstrap template named "Starter Template barebones " -->
        <link href="{% static "css/dashboard.css" %}" rel="stylesheet">

        <!-- Extensions - Experimenting with these -->
        <link href="{% static "css/wau.css" %}" rel="stylesheet">
    </head>

    <body>
        <!-- Nav Bar Start -->
        <div class="container-fullwidth">
            {% if user.is_authenticated and request.get_full_path != "/" %}
                {% include "navbar.html"%}
            {% endif %}
                
        </div>
        <!-- Nav Bar End -->
        
        <div class="container">
            <!-- Main Contents Start -->
            {% block contents %}{% endblock %}
            <!-- Main Contents End -->
        </div>
        
        <footer>
            <div class="">
                <!-- Footer Start -->
                {% include 'footer.html' %}
                <!-- Footer End -->
            </div>
        </footer>

        <!-- jQuery -->
        <script src="{% static "jquery/jquery-3.3.1.min.js" %}"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static "bootstrap-4/js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/base.js" %}"></script>

        <!-- Extra Scripts Start -->
        {% block more_javascript %} {% endblock %}
        <!-- Extra Scripts End -->
    </body>
</html>
