{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />

        <title>CLT Language Labs</title>

        <!-- Google Font --> 
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,300' rel='stylesheet' type='text/css'>

        <!-- Bootstrap -->
        <link href="{% static "vendors/bootstrap-4/css/bootstrap.min.css" %}" rel="stylesheet">

        <!-- Fontawesome -->
        <link href="{% static "vendors/fontawesome-free-5.5.0-web/css/all.css" %}" rel="stylesheet">
        <script src="{% static "vendors/fontawesome-free-5.5.0-web/js/all.js" %}" data-auto-replace-svg="nest"></script>

        <!-- The Bootstrap template named "Starter Template barebones " -->
        <link href="{% static "css/dashboard.css" %}" rel="stylesheet">

        <!-- Extensions - Experimenting with these -->
        <link href="{% static "css/wau.css" %}" rel="stylesheet">

        <!-- This block stylesheet will be override from any child stylesheet block stylesheets. If you want to override some stylesheet put inside this block -->
        {% block stylesheets %}
        {% endblock %}

    </head>

    <body>
        <!-- Nav Bar Start -->
        <div class="container-fullwidth">
            {% if user.is_authenticated and request.get_full_path != "/" %}
                <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
                    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/Langlab-logo.png' %}" class="img-responsive wau-logo" width=100px></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% block course_button_label %} Courses <b class="caret"></b>{% endblock course_button_label %}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    {% load guardian_tags %}
                                    {% for course_item in course_list %}
                                        {% get_obj_perms user for course_item as "course_temp_perms" %}
                                        {% if course_item.is_active or "edit_course" in course_temp_perms %}
                                            <a class="dropdown-item" href="{{ course_item.get_absolute_url }}">{{ course_item.title }}</a>
                                        {% endif %}
                                    {% endfor %}
                                    <div class="dropdown-divider"></div>
                                    {% if perms.core.create_course %}
                                        <a class="dropdown-item" href="{% url 'create_collection' %}"><i class="fas fa-flag"></i> New Course</a>
                                    {% endif %}
                                    <a class="dropdown-item" href="{% url 'course_list' %}"><small><i class="fas fa-search"></i> Search Course</small></a>
                                    <a class="dropdown-item"><small data-toggle="modal" data-target=".courseSubscribe" style="cursor:pointer;"><i class="fas fa-book"></i> Subscribe with code</small></a>
                                </div>
                            </li>
                            <!-- activity Nav Start -->
                            {% block activitynav %} <!-- CONTEXT MENU - Activities --> {% endblock %}
                            <!-- activity Nav End -->
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown pull-righ">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{ user.username }}</a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'profile:detail' slug=user.username %}">My Profile</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logout' %}">logout</a>
                                </div>
                            </li>
                        </ul>

                    </div>
                </nav>
            {% endif %}       
        </div>
        <!-- Nav Bar End -->
        
        <div class="container">
            <!-- Main Contents Start -->
            {% block contentwrap %}{% endblock %}
            <!-- Main Contents End -->
        </div>

        <!-- access code input for subscribtion -->
        <div class="modal courseSubscribe" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Subscribe with code</h3>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                    </div>

                    <form role="form">
                        <div class="form-group">
                            <div class="modal-body">
                                <input type="text" class="form-control" id="accesscodearea" placeholder="access code here..."><br>
                                <p>If you don't know your course's code, please contact your teacher. 
                            </div>
                            <div class="modal-footer">
                                <button type="button" id='courseSubscribeButton' class="btn btn-success btn-sm" data-subscribeurl="{% url 'subscribe_course' 'ToReplace' %}">Subscribe</button>
                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <footer>
            <div class="footer">
                <!-- Footer Start -->
                {% include 'footer.html' %}
                <!-- Footer End -->
            </div>
        </footer>

        <!-- jQuery -->
        <script src="{% static "vendors/jquery/jquery-3.3.1.min.js" %}"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <!-- popper.js should be loaded before bootstrap-4 -->
        <script src="{% static "vendors/popper/popper.min.js" %}"></script>
        <script src="{% static "vendors/bootstrap-4/js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/subscribe.js" %}"></script>
        <!--This block javascripts will override from any child's block javascripts. If you have javascripts that should be overriden by a child, put here  -->
        {% block javascripts %} {% endblock %}
        <!-- Extra Scripts End -->
    </body>
</html>
