{% load static %}
<!-- TODO: Merge to discussion-form-template-->
<!-- TODO: Chat or autoreload???-->
<h5><i class="fas fa-comments"></i> Live Chat on this course</h5>
<textarea class="full-width" id="chat-log" rows="5" readonly></textarea>
<br>

<!-- Chat input area -->
<form class="full-width" id="live-chat" data-activity-type="{{ activity.activity_type }}" data-activity-id="{{ activity.id }}" data-username="{{ request.user }}">
    <input class="full-width" id="chat-message-input" type="text" onkeypress = "if (event.keyCode == 13) return false;" /><br/>
    <input class="full-width" id="chat-message-submit" type="button" value="Send"/>
</form>

<!-- Pass Django variables to JS -->
