{% extends "base.html" %}
{% load staticfiles %}


{% block contentwrap %}
{% load guardian_tags %}
<h2 class="sub-header">Find Your Course</h2>
<script>
var courses_json = {{courses_json|safe}};
var courses = TAFFY(courses_json)
</script>

<div class='row placeholders'>
	<br>
	<br>
    <div class="input-group col-xs-6 col-xs-offset-3">
        <input id="course_search" class="form-control" type="text" placeholder="keywords"></input>
		<span class="input-group-addon" style='cursor:pointer;'><i id="course_search_button" class="fa fa-search fa-fw" ></i></span>
    </div>
</div>


<div class="row placeholders course_result_div" >

    <div class='col-xs-3 col-xs-offset-1 text-left lead Bold'>
        <u><strong> Course </strong></u>
	</div>
	<div class='col-xs-4 text-left lead bold'>
        <u><strong> Instructor </strong></u>
	</div>
	<div class='col-xs-4 text-left lead'>
        <u><strong> Join </strong></u>
	</div>

	{% for course in courses %}
     <div class='course_row' data-coursename="{{course.title}}">
	    <div class='col-xs-3 col-xs-offset-1 text-left lead Bold'>
	        <p> {{course.title}} </p>
		</div>
		<div class='col-xs-4 text-left lead bold'>
                <span><i class="fa fa-graduation-cap"></i>
				{% for private_user in course.get_private_users %}
                {{private_user}}&nbsp;
				{% endfor %}
                </span>
		</div>
		<div class='col-xs-4 text-left lead'>
	        <p> 
	        	{% get_obj_perms user for course as "temp_course_perms" %}
	        	{% if course.is_public %}
		        	{% if "view_course" in temp_course_perms or "edit_course" in temp_course_perms %}
		        	    <a style='color:black;' href="{{ course.get_absolute_url }}">Subscribed</a>
		        	{% else %}
			        	<a href="{% url 'subscribe_course' course.accesscode %}" class="btn btn-success btn-sm" role="button"> &nbsp;JOIN NOW <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; </a>
		        	{% endif %}
	        	{% else %}
                    <a><small data-toggle="modal" data-target=".courseSubscribe" style="cursor:pointer;"> <i class="fa fa-book"></i> Subscribe (requires access code)</small></a> 
	        	{% endif %}
	        </p>
		</div>
    </div>
	{% endfor %}
</div>

{% endblock contentwrap %}

{% block stylesheets %} 
<script src="{% static "taffydb/taffy.js" %}"></script>
<link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
<link href="{% static "css/course_list.css" %}" rel="stylesheet">
{% endblock stylesheets%}
{% block more_javascript %} 
<script src="{% static "js/typeahead.bundle.js" %}"></script>
<script src="{% static "js/course_list.js" %}"></script>
{% endblock more_javascript %}
