{% load static %}
    <h4><i class="fas fa-microphone-alt"></i> Post</h4>
    <form role="form">{% csrf_token %}
        <input id='activityType' type="hidden" name="activityTypes" value='{{ activity.activity_type }}'>
        <input id='activityID' type="hidden" name="activityIDs" value='{{ activity.id }}'>
        <input id='activityUSER' type="hidden" name="activityUSERs" value='{{ user }}'>
        <div class="row">
            <div id='postTextarea' class="form-control"></div>
        </div>


        <!-- TODO: Change recoder from the shockwave flash to web recorder -->
        <div class="row">
            <button id='sendPost' type="button" class="btn btn-success btn-sm full-width" value='{% url "save_post" %}'>
                <i class="far fa-paper-plane"></i> submit
            </button>
        </div>
        <div class="row">
            <div class="col-md-6 m-0 p-0">
                <button id='recordTrigger' type="button" class="btn btn-danger btn-sm full-width" data-swfurl="{% static "swf/barebonesRecorder7.swf" %}" 
                        data-recorderserver='{{recorder_myServer}}' data-recorderhandler='{{recorder_myHandler}}' data-recorderdirectory='{{recorder_myDirectory}}' 
                        data-recorderlicense='{{recorder_license}}' data-userinfo='audio_{{ user.id}}_{{user.username}}' 
                        data-playerskin="{% static "jwplayer-skins/five.xml" %}" >
                    <i class="fas fa-microphone"></i> record
                </button>
            </div>
            <div class="col-md-6 m-0 p-0">
                <button id='uploadTrigger' type="button" class="btn btn-primary btn-sm full-width">
                    <i class="fas fa-paperclip"></i> attachments
                </button>
            </div>
            </div>
        </div>
    </form>


<!-- *******************file upload****************** -->
<!-- The file input field used as target for the file upload widget -->
<input id="fileupload" type="file" name="file" style="display:none;" multiple>
    <!-- The global progress bar -->
    <div id="progress" class="progress" style='height:1px;margin:0px;opacity:0.7;'>
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <!-- container for the uploaded files -->
    <div id='inputAttachments'></div>
    <!-- container for recorder -->
    <div id='CLTREC_container'><div id='CLTREC'></div></div>
