<!-- discussion.html -->
{% extends "base_activity.html" %}
{% load static %}

{% block stylesheets %} 
    <link href="{% static 'css/discussion.css' %}" rel="stylesheet">
    <link href="{% static 'css/overdub.css' %}" rel="stylesheet">
    <!-- *****************video player(need to be put in head to load audio)******************* -->
    <script src="https://jwpsrv.com/library/RJueXGxbEeOB1SIACi0I_Q.js"></script>
   
{% endblock %}

<!-- Contentwrap start -->
{% block contentwrap %}
    {% load guardian_tags %}
    {% get_obj_perms user for course as "course_perms" %}
    {% get_obj_perms user for activity as "activity_perms" %}
    {% include 'activity_header_template.html' %} 

    <div class="" style='height:100%;'>
        <div class="row">
            <h2>Instructions:</h2>
        </div>
        <div class="row" >
            <div class="col-md-4" > <!-- style="border-right: 1px solid #ccc;" -->
                {{ activity.instructions|safe }}
            </div>
            <div class="col-md-8">
                <div class="col-mb-3">
                    {% include 'chat.html' %}
                </div>
                <div class="row">
                    <div class="col-md-12 hidden" id="connectedDIV" >
                        {% include 'discussion_form_template.html' %}
                    </div>
                </div>
            </div>


            <!-- TODO: display posts without refreshing the page -->
            <!-- discussion posts -->
            <div id='posts' data-ajaxurl="{% url 'delete_post' %}" data-saveajaxurl="{% url 'save_post' %}">
                {% if user_post_num != 0 or not activity.read_after_post or user.is_superuser or user in private_users %}
                    <ul id='posts2' class="chat">
                        {% for post in posts reversed%}
                            {% if not activity.private_mode or user in private_users or post.creator in private_users or post.creator == user %}
                                {% if not post.parent_post %}
                                    <!-- Other's posts -->
                                    {% include 'post_template.html' with ativity_type=activity.activity_type %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            
        </div>
    </div>

    <!-- Small modal -->
    <div>
        <button class="btn btn-primary hide notificationButton" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header" style='padding:9px;'>
                        <h5 class="modal-title" id="myModalLabel">Help Text</h5>
                    </div>
                    <div class="modal-body">
                        Please <kbd>save</kbd> recording before sending post or click <kbd>cancel</kbd>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
{% endblock %}
<!-- Contentwrap end-->

{% block javascripts %} 
    <!-- *****************upload libs******************** -->
    <script src="{% static 'vendors/jqueryUpload/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'vendors/jqueryUpload/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'vendors/jqueryUpload/jquery.fileupload.js' %}"></script>
    <script src="{% static 'vendors/jqueryUpload/jquery.cookie.js' %}"></script>
    <!-- *****************Chat libs******************** -->
    <script src="{% static 'vendors/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/global.js' %}"></script>
    {% comment %} <script src="{% static 'js/discussion.js' %}"></script> {% endcomment %}
    <!-- ******************Recorder libs****************** -->
    <script src="{% static 'js/overdub.js' %}"></script>

    <!-- Live Chat-->
     <script src="{% static 'js/discussionroom.js' %}"></script>
    <!-- ************************************* -->
{% endblock %}
