<!-- discussion_form_template.html -->
{% load static %}
<h4><i class="fas fa-headset"></i> WAU Recording System</h4>
<hr>
<div class="container-fluid" style="border: 1px solid green;">
    <br>
    <h6><i class="fas fa-microphone-alt"></i> Recording</h6>

    <!-- equalizer-->
    <div class="row">
        <div class="col-md-12" id="equalizer">
            <canvas id="analyser" height="64"></canvas>
        </div>
        <div class="col-md-12 controls-btn">
            <button type="button" class="btn btn-secondary btn-sm btn-block" id="btn-record" onclick="toggleRecording(this);">
                <i class="fas fa-microphone-alt"></i> Record
            </button>
        </div>
        <!-- Display only for youtube video -->
        {% if activity.media %}
            <div class="col-md-12">
            <input type="checkbox" id="youtube-mute" name="mute" autocomplete="off"> Mute Youtube Sound
            </div>
        {% endif %}
    </div>
    <hr>
    <!-- wave -->
    <div class="row">
        <div class="col-md-12" id="wave">
            <canvas id="wavedisplay" height="64"></canvas>
	    </div>
        <div class="col-md-4 controls-btn mb-1">
            <button type="button" class="btn btn-secondary btn-sm btn-block" id="btn-play" >
                <i class="fas fa-play-circle"></i> Play
            </button>
        </div>
        <div class="col-md-4 controls-btn mb-1">
            <a id="record-save" href="#" data-filename="{{ activity_type }}_{{ activity.id }}_{{ user }}_{% now 'Y-m-d_H-i-s'%}">
                <button type="button" class="btn btn-secondary btn-sm btn-block" id="btn-save">
                    <i class="fas fa-file-audio"></i> Download
                </button>
            </a>
        </div>
        <div class="col-md-4 controls-btn mb-1">
            <button type="button" class="btn btn-secondary btn-sm btn-block" id="btn-remove" >
                <i class="fas fa-trash"></i> Remove
            </button>
        </div>
    </div>
    <hr>






    <form full-width role="form">{% csrf_token %}
        <input id='activityType' type="hidden" name="activityTypes" value='{{ activity.activity_type }}'>
        <input id='activityID' type="hidden" name="activityIDs" value='{{ activity.id }}'>
        <input id='activityUSER' type="hidden" name="activityUSERs" value='{{ user }}'>


        <!-- Test code for recorder with html5 and javascript -->
        <div>

            {% comment %} <button id='recordTrigger' type="button" class="btn btn-sm full-width" data-swfurl="{% static "swf/barebonesRecorder7.swf" %}" 
                    data-recorderserver='{{recorder_myServer}}' data-recorderhandler='{{recorder_myHandler}}' data-recorderdirectory='{{recorder_myDirectory}}' 
                    data-recorderlicense='{{recorder_license}}' data-userinfo='audio_{{ user.id}}_{{user.username}}' 
                    data-playerskin="{% static "jwplayer-skins/five.xml" %}" >Button
            </button> {% endcomment %}
        </div>
        
        <div>
            <h6><i class="fas fa-file-upload"></i> File: </h6> 
            <button id='uploadTrigger' type="button" class="btn btn-primary btn-sm">
                <i class="fas fa-paperclip"></i> attachments
            </button>
        </div>
        <hr>
            <h6><i class="fas fa-comment-alt"></i> Message</h6>
            <div id='postTextarea' class="form-control"></div>
    </form>
    <br>
 </div>
<button id='sendPost' type="button" class="btn btn-success btn-sm full-width" value='{% url "save_post" %}'>
    <i class="far fa-paper-plane"></i> Submit all
</button>



    <!-- *******************file upload****************** -->
    <!-- The file input field used as target for the file upload widget -->
    <input id="fileupload" type="file" name="file" style="display:none;" multiple>
        <!-- The global progress bar -->
        <div id="progress" class="progress" style='height:1px;margin:0px;opacity:0.7;'>
            <div class="progress-bar progress-bar-success"></div>
        </div>
        <!-- container for the uploaded files -->
        <div id='inputAttachments'></div>
        <!-- container for recorder -->
        <div id='CLTREC_container'><div id='CLTREC'></div></div>
