<!-- discussion.html -->
{% extends "base_activity.html" %}
{% load staticfiles %}

{% block contentwrap %}
{% load guardian_tags %}
{% get_obj_perms user for course as "course_perms" %}
{% get_obj_perms user for activity as "activity_perms" %}

{% if activity.permission_control and 'view_activity' not in activity_perms %}

<h1 class='text-primary text-center'> You're not part of this activity </h1>

{% else %}

	<h1 id='activity_title' class="page-header " data-userpostnum='{{user_post_num}}' data-readafterpost='{{activity.read_after_post}}' data-userisinstructor='{% if user in private_users or user.is_superuser %}true{% else %}false{% endif %}'>{{ activity.title }}

	{% if "edit_course" in course_perms%}

	<small><small><a href="{% url 'edit_discussion' activity.id %}" class="text-muted" style='text-decoration:none;'><i class="fa fa-pencil-square-o"></i></a></small></small>
	<small><small><a href="{% url 'delete_discussion' activity.id %}" class="text-muted" style='text-decoration:none;'><i class="fa fa-trash-o"></i></a></small></small>
	<small><small><a class="text-muted activity_admin_togg" style='text-decoration:none; cursor: pointer;'><i class="fa fa-user"></i></a></small></small>
	{% else %}
        {% if activity.permission_control %}
        	<small><small><a class="text-muted activity_members_togg" style='text-decoration:none; cursor: pointer;'><i class="fa fa-users"></i></a></small></small>
        {% endif %}
    {% endif %}
        
		{% if activity.read_after_post and user in private_users or activity.read_after_post and user.is_superuser %}
		<small class='text-muted pull-right'>
		<span class="label label-default private_public_label" style="cursor:pointer;vertical-align: text-bottom;" data-toggle="tooltip" data-placement="left" title="Students can only read everyone's post after his/her initial post.">Read After Post</span>
		</small>&nbsp;
		{% endif %}

		{% if activity.private_mode %}
		<small class='text-muted pull-right'>
		<span class="label label-default private_public_label" style="cursor:pointer;vertical-align: text-bottom;" data-toggle="tooltip" data-placement="right" title="Student can only interact with course instructors.">Private Mode</span>
		</small>&nbsp;
		{% else %}
		<small class='text-muted pull-right'>
		<span class="label label-primary private_public_label" style="cursor:pointer;vertical-align: text-bottom;" data-toggle="tooltip" data-placement="right" title="Student can interact with any member in the course.">Public Mode</span>
		</small>&nbsp;
		{% endif %}

	</h1>

    <script>
    var private_users="{{private_users|safe}}"
    var current_user ="{{user}}"
	if(private_users.search('<User: '+current_user+'>') != -1){
    	var thumbNail_comment='<li class="left clearfix commentlist"><span><i class="fa fa-graduation-cap fa-2x pull-left fa-fw text-muted text-center" style="font-size:2.1em; margin-right:0.2em;"></i></span><div class="chat-body clearfix" style="margin-left: 46px;"><textarea class="form-control" rows="2"></textarea></div></li>'
    }else{
    	var thumbNail_comment='<li class="left clearfix commentlist"><span><i class="fa fa-user fa-2x pull-left fa-fw text-muted text-center" style="font-size:2.1em; margin-right:0.2em;"></i></span><div class="chat-body clearfix" style="margin-left: 46px;"><textarea class="form-control" rows="2"></textarea></div></li>'
    }
    </script>
    {% if "edit_course" in course_perms%}

	<div id='activity_admin_div' class='well' style='display:none'>
	<h2 id='activity_admin' data-ajaxURL="{% url 'change_perm' %}" data-activityid="{{activity.id}}">Activity Membership Administration
	<span> &nbsp;
		<small>
		{% if activity.permission_control%}
		<i class="fa fa-toggle-on text-primary control_togg" style='cursor:pointer;'></i>
		{% else %}
		<i class="fa fa-toggle-off text-muted control_togg" style='cursor:pointer;'></i>
		{% endif %}
	    </small>
	</span>
	</h2>

	<div class='row'>
		{% csrf_token %}
		<div class='col-xs-6 text-center lead Bold'>
            <u><strong> User Name </strong></u>
		</div>
		<div class='col-xs-6 text-center lead column_togg' style='cursor:pointer;' data-columnclass='view_activity'>
            <u><strong> View Activity </strong></u>
		</div>
		{% for SingleUser, Permissions in object_course_users.items %}
		   {% if SingleUser != user and not SingleUser.is_superuser %}
		    <div class='admin_row' data-username='{{SingleUser}}'>
				<div class='col-xs-6 text-center lead'>
		            <p>{{SingleUser}}</p>
				</div>
				<div class='col-xs-6 text-center lead ' data-codename="discussions.view_activity">
		            <p>
						{% get_obj_perms SingleUser for activity as "activity_temp_perms" %}
		   		            	{% if "view_activity" in activity_temp_perms %}
				            	<i class="fa fa-toggle-on text-primary fa-lg perm_togg view_activity" style='cursor:pointer;'></i>
				            	{% else %}
				            	<i class="fa fa-toggle-off text-muted fa-lg perm_togg view_activity" style='cursor:pointer;'></i>
				            	{% endif %} 
		            </p>
				</div>
		    </div> 
		   {% endif %}
		{% endfor %}
	</div>
	</div>
	{% else %}
	    {% if activity.permission_control %}
	    <div id='activity_members_div' class='well' style='display:none;'>
		<span id='activity_members'>GROUP MEMBERS: </span>
			{% for SingleUser, Permissions in object_course_users.items %}
			   {% if  not SingleUser.is_superuser %}
					{% get_obj_perms SingleUser for activity as "activity_temp_perms" %}
   		            	{% if "view_activity" in activity_temp_perms %}
		            	&nbsp;<span class="label label-info">{{SingleUser}}</span>
		            	{% endif %} 
			   {% endif %}
			{% endfor %}
        </div>
	    {% endif %}
	{% endif %}

	<div class="container-fluid" style='height:100%;'>
		<div class="row " >
			<div class="col-md-4" > <!-- style="border-right: 1px solid #ccc;" -->
				<h2>Instructions:</h2>
				{{ activity.instructions|safe }}

			</div>
     		<div id='connectingDIV' class='row col-md-8 show'>
	            <div id='sysMessage' class="col-md-4 col-md-offset-4"><i class="fa fa-spinner fa-spin fa-5x"></i> Connecting to server ...</div>
     		</div>
			<div id="connectedDIV" class="col-md-8 hidden">
	            <div>
					<form role="form">{% csrf_token %}
					<input id='activityType' type="hidden" name="activityTypes" value='{{ activity.activity_type }}'>
					<input id='activityID' type="hidden" name="activityIDs" value='{{ activity.id }}'>
					<input id='activityUSER' type="hidden" name="activityUSERs" value='{{ user }}'>
					<div id='postTextarea' class="form-control" style='border-radius:4px 4px 0px 0px;'></div>
					<div class="input-group">
					<button id='sendPost' type="button" class="btn btn-default btn-xs full-width" value='{% url "save_post" %}' style='border-radius:0px 0px 0px 4px;'><span class="glyphicon glyphicon-send"></span> send</button>
					<div class="input-group-btn">
					<button id='uploadTrigger' type="button" class="btn btn-default btn-xs" data-uploadurl="{% url 'file_upload' %}"><span class="glyphicon glyphicon-file"></span> upload</button>
					<button id='recordTrigger' type="button" class="btn btn-default btn-xs" data-swfurl="{% static "swf/barebonesRecorder6-demo.swf" %}" data-recorderserver='{{recorder_myServer}}' data-recorderhandler='{{recorder_myHandler}}' data-recorderdirectory='{{recorder_myDirectory}}' data-userinfo='audio_{{ user.id}}_{{user.username}}' data-playerskin="{% static "jwplayer-skins/five.xml" %}" style='border-radius:0px 0px 4px 0px;'><span class="glyphicon glyphicon-record"></span> record</button>
					</div>
					</div>
					</form>
             	</div>
             	<!-- *******************file upload****************** -->
			    <!-- The file input field used as target for the file upload widget -->
			    <input id="fileupload" type="file" name="file" style="display:none;" multiple>
				<!-- The global progress bar -->
				<div id="progress" class="progress" style='height:1px;margin:0px;opacity:0.7;'>
				    <div class="progress-bar progress-bar-success"></div>
				</div>
				<!-- The container for the uploaded files -->
				<div id='inputAttachments'></div>
				<!-- *The container for recorder********* -->
				<div id='CLTREC_container'><div id='CLTREC'></div></div>
				<!-- ************************************************ -->
				<br>
             	<div id='posts'>

             		 {% if user_post_num != 0 or not activity.read_after_post or user.is_superuser or user in private_users %}
	                 <ul id='posts2' class="chat">
	                 	{% for post in activity.posts.all reversed%}
	                        
	                        {% if not activity.private_mode or user in private_users or post.creator in private_users or post.creator == user %}
	                        {% if not post.parent_post %}

		                        <!-- Other's posts -->
		                        <li class="left clearfix chatlist" data-postid={{post.id}}>
<!-- 		                    	<span class="chat-img pull-left">
		                            <img src="http://placehold.it/50/55C1E7/fff&amp;text=U" alt={{ post.creator }} class="img-circle img-responsive" />
		                        </span> -->
<!-- 		                        <span class="fa-stack fa-2x pull-left">
								  <i class="fa fa-square-o fa-stack-2x"></i>
								  <i class="fa fa-user fa-stack-1x"></i>
								</span> -->
								{% if post.creator in private_users or post.creator.is_superuser %}
								<span><i class="fa fa-graduation-cap fa-fw fa-2x pull-left text-muted" style='font-size:2.1em; vertical-align: middle;'></i></span>
								{% else %}
								<span ><i class="fa fa-user fa-fw fa-2x pull-left text-muted" style='font-size:2.1em; vertical-align: middle;'></i></span>
								{% endif %}
		                            <div class="chat-body clearfix">
		                                <div class="header">
		                                    <strong class="primary-font">{{ post.creator|capfirst }}</strong> <small class="pull-right text-muted">
		                                        <span class="glyphicon glyphicon-time"></span>{{ post.created }}</small>
		                                </div>
		                                <p>
											{{ post.text|safe }}
		                                </p>

		                                <!-- get attachments from fat Post Model -->
		                                {% if post.get_documents %}
		                                <p class="attachDIV well " style="padding:8px;margin-bottom:0px;border-radius:0px;border:0px;background-color:#F8F8F8;">

		                                	{% for document in post.get_documents %}
		                                	<span><a class="fileLink text-muted" href="{{ document.accessURL }}"  ><i class="icon-file-alt"></i> {{ document }} </a></span>
		                                	{% endfor %}

		                                </p>
										{% endif %}	
                                        <!-- audio files -->
											{% if post.audio_URL %}
										    <div id="{{post.audio_URL|cut:"."}}" class='audioDiv'></div>
										    <script>
												jwplayer("{{post.audio_URL|cut:"."}}").setup({
												        file: "{{recorder_myServer}}{{recorder_myDirectory}}/{{post.audio_URL}}",
												        width: "100%",
												        skin: "{% static "jwplayer-skins/five.xml" %}",
												        height: 30
												    });
											</script> 
											{% endif %}
		                            </div>
		                        </li>
		                        <!-- Comment Section for posts -->
		                        <div>
		                            <ul class="comment">
				                 	{% for post2 in activity.posts.all reversed%}
				                 	    {% if user in private_users or post2.creator in private_users or post2.creator == user %}
				                 	    {% if post2.parent_post == post %}
				                        <li class="left clearfix commentlist" data-postid={{post2.id}}>
<!-- 				                        	<span class="chat-img pull-left">
					                            <img src="http://placehold.it/50/55C1E7/fff&amp;ltext=U" alt={{ post2.creator }} class="img-circle  img-responsive" />
					                        </span> -->
											{% if post2.creator in private_users or post2.creator.is_superuser %}
											<span><i class="fa fa-graduation-cap fa-fw fa-2x pull-left text-muted" style='font-size:2.1em;'></i></span>
											{% else %}
											<span><i class="fa fa-user fa-fw fa-2x pull-left text-muted" style='font-size:2.1em;'></i></span>
											{% endif %}

				                            <div class="chat-body clearfix">
				                                <div class="header">
				                                    <strong class="primary-font">{{ post2.creator|capfirst }}</strong> <small class="pull-right text-muted">
				                                        <span class="glyphicon glyphicon-time"></span>{{ post2.created }}</small>
				                                </div>
				                                <p>
													{{ post2.text|safe }}
				                                </p>
				                            </div>
				                        </li>
				                        {% endif %}
				                        {% endif %}
			                        {% endfor %}
				                        
											{% if user in private_users or post.creator.is_superuser %}
											<li class="left clearfix commentlist">
											<span><i class="fa fa-graduation-cap fa-fw fa-2x pull-left text-muted text-center" style='font-size:2.1em; margin-right:0.2em;'></i></span>
				                            <div class="chat-body clearfix" style='margin-left: 46px;'>
												<textarea class="form-control" rows="2"></textarea>
				                            </div>
				                            </li>
											{% else %}
											<li class="left clearfix commentlist">
											<span><i class="fa fa-user fa-fw fa-2x pull-left text-muted text-center" style='font-size:2.1em; margin-right:0.2em;'></i></span>
				                            <div class="chat-body clearfix" style='margin-left: 46px;'>
												<textarea class="form-control" rows="2"></textarea>
				                            </div>
				                            </li>
											{% endif %}
				                    </ul>

				                </div>
		                        <!--End of Comment Section-->

	                        {% endif %}
	                        {% endif %}
	                    {% endfor %}
	                </ul>
	                {% endif %}
            </div>
			</div>
		</div>
	</div>
    <div>
		<!-- Small modal -->
		<button class="btn btn-primary hide notificationButton" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>

		<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-sm">
			    <div class="modal-content">
			      <div class="modal-header" style='padding:9px;'>
			        <h5 class="modal-title" id="myModalLabel">Help Text</h5>
			      </div>
			      <div class="modal-body">
			        Please <kbd>save</kbd> recording before sending post or click <kbd>cancel</kbd>
			      </div>
			    </div>
		  </div>
		</div>
    </div>
<br>

{% endif %}
{% endblock contentwrap %}

{% block stylesheets %} 
<link href="{% static "css/discussion.css" %}" rel="stylesheet">
<link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
<!-- *****************video player(need to be put in head to load audio)******************* -->
<script src="http://jwpsrv.com/library/RJueXGxbEeOB1SIACi0I_Q.js"></script>
{% endblock stylesheets%}
{% block more_javascript %} 
<!-- *****************upload libs******************** -->
<script src="{% static "jqueryUpload/jquery.ui.widget.js" %}"></script>
<script src="{% static "jqueryUpload/jquery.iframe-transport.js" %}"></script>
<script src="{% static "jqueryUpload/jquery.fileupload.js" %}"></script>
<script src="{% static "jqueryUpload/jquery.cookie.js" %}"></script>
<!-- *****************Chat libs******************** -->
<script src="{% static "js/socket.io.js" %}"></script>
<script src="{% static "js/tinymce/tinymce.min.js" %}"></script>
<script>WEB_SOCKET_SWF_LOCATION="{{ STATIC_URL }}flashsocket/WebSocketMain.swf"; window.room = "{{ room.id }}";</script>
<script src="{% static "js/discussion.js" %}"></script>
<script src="{% static "js/discussions_socket.js" %}"></script>
<!-- ******************Recorder libs****************** -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<!-- ************************************* -->
{% endblock more_javascript %}