<!-- discussion_form_template.html -->
{% load static %}
<h4><i class="fas fa-headset"></i> WAU Recording System</h4>
<hr>
{% csrf_token %}
<div id="recoder-area">
    <br>
    <h6><i class="fas fa-microphone-alt"></i> Recording</h6>
    <section class="main-controls">
        <div class="row">
            <div class="col-md-12" id="visual">
                <canvas id="analyser"></canvas>
            </div>
            <div class="col-md-12 controls-btn" id="record-ctrl" data-filename="{{ course.title }}_{{ activity.activity_type }}_{{ activity.id }}_{{ user }}">
                <button type="button" class="btn btn-secondary btn-sm btn-block" id="btn-record">
                    <i class="fas fa-microphone-alt"></i> Record
                </button>
            </div>
            <!-- Display only for youtube video -->
            {% if activity.media %}
                <div class="col-md-12">
                    <input type="checkbox" id="youtube-mute" name="mute" autocomplete="off"> Mute Youtube Sound
                </div>
            {% endif %}
        </div>
    </section>
    <p><i class="fas fa-volume-up"></i> After recording, your temporary record file(s) will appear in the list.<br>
    ( <i class="fas fa-exclamation-triangle fa-sm" style="color: red;"></i>You will lost all temporary recorded file(s), when you leave or refresh this page.)</p>
    <section id="sound-clips">
        <div class="text-center" style="color: red;">
            <p>- <u>Temporary recorded audio list</u> -</p>
            <!-- 
                temporary sounds list will be here 
            --> 
        <div>
    </section>
    <hr>
</div>

<form id="overdub" enctype="multipart/form-data" method="POST" name="overdub" data-activity-type="{{ activity.activity_type }}" data-activity-id="{{ activity.id }}" data-username="{{ request.user }}">
    <div class="container-fluid" style="border: 1px solid green; padding: 5px;">
        <h6><i class="fas fa-comment-alt"></i> Message</h6>
        <!-- REVIEW: Need tinyeditor ?? -->
        <textarea id='postTextarea' class="form-control" style='border-radius:4px 4px 0px 0px;'></textarea>
        <br>
    
        <!-- Upload file start -->
        <section class="upload-file">
            <!-- selected file start -->
            <div id="selected">

            </div><!-- selected file end -->

            <div class="form-check clip">
                <input id="fileupload" type="file" name="file" style="display:block;" multiple>
                <!-- The global progress bar -->
                <div id="progress" class="progress" style='height:1px;margin:0px;opacity:0.7;'>
                    <div class="progress-bar progress-bar-success"></div>
                </div>
                <!-- container for the uploaded files -->
                <div id='inputAttachments'></div>
                <!-- container for recorder -->
                <div id='CLTREC_container'><div id='CLTREC'></div></div>
            </div>
        </section> <!-- Upload file end -->
        
        <hr>
        <!-- TODO: Save all data to server -->
        <button id='chatTrigger' type="button" class="btn btn-success btn-sm full-width" value='{% url "save_post" %}' data-activity-id="{{ activity.id }}" data-activity-type="{{ activity.activity_type }}" data-user="{{ user }}" data-upload="/upload/">
            <i class="far fa-paper-plane"></i> Submit all
        </button>
    </div>
</form>
<hr>
<p class="text-center">- Click the post box that you want to write a comment and read comments. -</p>

<div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Uploading...</h4>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
        </div>
      </div>
    </div>
  </div>
</div>