<!-- essay.html -->
{% extends "base_activity.html" %}
{% load staticfiles %}

{% block contentwrap %}
{% load guardian_tags %}
{% get_obj_perms user for course as "course_perms" %}
{% get_obj_perms user for activity as "activity_perms" %}
<!-- {{ block.super }} -->
{% if activity.permission_control and 'view_activity' not in activity_perms and 'edit_course' not in couse_perms %}

<h1 class='text-primary text-center'> You're not part of this activity </h1>

{% else %}

	<h1 class="page-header"  style='margin-bottom:5px;'>{{ activity.title }}

	{% if "edit_course" in course_perms %}

	<small><small><a href="{% url 'edit_essay' activity.id %}" class="text-muted" style='text-decoration:none;'><i class="fa fa-pencil-square-o"></i></a></small></small>
	<small><small><a href="{% url 'delete_essay' activity.id %}" class="text-muted" style='text-decoration:none;'><i class="fa fa-trash-o"></i></a></small></small>
	<small><small><a class="text-muted activity_admin_togg" style='text-decoration:none; cursor: pointer;'><i class="fa fa-user"></i></a></small></small>
	<small><small><a class="text-muted activity_copy_togg" style='text-decoration:none;cursor:pointer;' ><i class="fa fa-files-o"></i></a></small></small>
	{% else %}
          {% if activity.permission_control %}
              	<small><small><a class="text-muted activity_members_togg" style='text-decoration:none; cursor: pointer;'><i class="fa fa-users"></i></a></small></small>
          {% endif %}
          <!-- draftbook and discussion toggle -->
		<div class="btn-group pull-right essaySectionToggle" data-toggle="buttons">
		  <label class="btn btn-info btn-sm sectionToggle active text-muted">
		    <input type="radio" name="options" id="option1" autocomplete="off" value='essay_draftbook' checked> <p class="lead" style='margin-bottom:0px;'><i class="fa fa-pencil" ></i>  Draftbook</p>
		  </label>
		  <label class="btn btn-info btn-sm sectionToggle text-muted">
		    <input type="radio" name="options" id="option2" autocomplete="off" value='essay_discussion'> <p class="lead" style='margin-bottom:0px;'><i class="fa fa-coffee"></i>  Discussion</p>
		  </label>
		</div>
	{% endif %}
	</h1>

    {% if "edit_course" in course_perms%}

	<div id='activity_admin_div' class='well' style='display:none'>
	<!-- Activity Permission control Toggle -->
	<h2 id='activity_admin' data-ajaxURL="{% url 'change_perm' %}" data-activityid="{{activity.id}}">Activity Membership Administration
	<span> &nbsp;
		<small>
		{% if activity.permission_control%}
		<i class="fa fa-toggle-on text-primary control_togg" style='cursor:pointer;'></i>
		{% else %}
		<i class="fa fa-toggle-off text-muted control_togg" style='cursor:pointer;'></i>
		{% endif %}
	    </small>
	</span>

	</h2>
	<div class='row'>
		{% csrf_token %}
		<div class='col-xs-6 text-center lead Bold'>
            <u><strong> User Name </strong></u>
		</div>
		<div class='col-xs-6 text-center lead column_togg' style='cursor:pointer;' data-columnclass='view_activity'>
            <u><strong> View Activity </strong></u>
		</div>
		{% for SingleUser, Permissions in object_course_users.items %}
		   {% if SingleUser != user and not SingleUser.is_superuser %}
		    <div class='admin_row' data-username='{{SingleUser}}'>
				<div class='col-xs-6 text-center lead'>
		            <p>{{SingleUser}}</p>
				</div>
				<div class='col-xs-6 text-center lead ' data-codename="essays.view_activity">
		            <p>
						{% get_obj_perms SingleUser for activity as "activity_temp_perms" %}
		   		            	{% if "view_activity" in activity_temp_perms %}
				            	<i class="fa fa-toggle-on text-primary fa-lg perm_togg view_activity" style='cursor:pointer;'></i>
				            	{% else %}
				            	<i class="fa fa-toggle-off text-muted fa-lg perm_togg view_activity" style='cursor:pointer;'></i>
				            	{% endif %} 
		            </p>
				</div>
		    </div> 
		   {% endif %}
		{% endfor %}
	</div>
	</div>

	<!-- activity copy div -->
	<div id='activity_copy_div' class='well' style='display:none'>
	<h2 id='activity_copy' > Activity Duplicate </h2>

	<div class='row'>
		<div class='col-xs-5' style='font-size:20px;'> Copy <u>{{activity.title}}</u> to</div>
		<div class='col-xs-4'>
        <select class="form-control" id='activity_copy_course'>
				{% load guardian_tags %}
                {% for course_item in course_list %}
                  {% get_obj_perms user for course_item as "course_temp_perms" %}
                  {% if course_item.is_active or "edit_course" in course_temp_perms %}
                  <option data-courseid="{{course_item.id}}">{{ course_item.title }}</option>
                  {% endif %}
                {% endfor %}
        </select>
	    </div>
	    <div class='col-xs-3'><button id='activity_copy_btn' type="button" class="btn btn-success" data-ajaxurl="{% url 'copy_activity' %}" data-activitytype='{{activity.activity_type}}' data-activityid='{{activity.id}}'>Go Copy</button></div>
	</div>
	</div>
    {% else %}
	    {% if activity.permission_control %}
	    <div id='activity_members_div' class='well' style='display:none;'>
		<span id='activity_members'>GROUP MEMBERS: </span>
			{% for SingleUser, Permissions in object_course_users.items %}
			   {% if  not SingleUser.is_superuser %}
					{% get_obj_perms SingleUser for activity as "activity_temp_perms" %}
   		            	{% if "view_activity" in activity_temp_perms %}
		            	&nbsp;<span class="label label-info" >{{SingleUser}}</span>
		            	{% endif %} 
			   {% endif %}
			{% endfor %}
        </div>
	    {% endif %}
	{% endif %}

<!-- Essay application starts here -->
<div class='row'>
    {% if "edit_course" not in course_perms %}
	<div id='essay_draftbook' class='col-xs-10 col-xs-offset-1'>
		<div id='essay_draftbook2'>
		<h3><small class='text-muted'> (<i>draft {{submitted_essay_responses.count|add:"1"}} </i>in progress)</small></h3>
		<form role="form">{% csrf_token %}
			<input type="text" class="form-control" id="draft_title" value='{% if  progressing_essay_response %}{{progressing_essay_response.draft_title}}{% else %}draft title{% endif %}' style='border-radius:4px 4px 0px 0px;'>
			<textarea id='essayTextarea' style="height:410px;padding: 5px;overflow:auto;">{{progressing_essay_response.draft|safe}}</textarea>
		</form>
		{% if graded_essay_responses.count == submitted_essay_responses.count and graded_essay_responses.count < activity.required_revisions %}
		<!-- all drafts are graded -->
		<button id='draftSaveBtn' type="button" class="btn btn-default btn-sm pull-left draftEditBtn" style='width:50%;border-radius:0px 0px 0px 4px;' data-ajaxurl="{% url 'edit_essay_draft' %}" data-operation="save" data-essayid="{{activity.id}}">
		  <i class="fa fa-floppy-o"></i> SAVE
		</button>
		<button  id="draftSubmitBtn" type="button" class="btn btn-default btn-sm pull-right draftEditBtn" style='width:50%;border-radius:0px 0px 4px 0px; ' data-ajaxurl="{% url 'edit_essay_draft' %}" data-operation="submit" data-essayid="{{activity.id}}">
		  <i class="fa fa-paper-plane-o"></i> SUBMIT
		</button>
		{% else %}
		<!-- we have ungraded essay drafts -->
		<button id='draftSaveBtn' type="button" class="btn btn-default btn-sm pull-left draftEditBtn" style='width:100%;border-radius:0px 0px 4px 4px;' data-ajaxurl="{% url 'edit_essay_draft' %}" data-operation="save" data-essayid="{{activity.id}}">
		  <i class="fa fa-floppy-o"></i> SAVE
		</button>
		{% endif %}

		<br>
		<br>
		<div id ='submittedDrafts'>
		<div id ='submittedDrafts2'>
        <h3><i class="fa fa-files-o"></i> Submitted Drafts</h3>
		{% for submitted in submitted_essay_responses %}
        <div class="panel panel-default">
		  <div class="panel-heading">
		    {{submitted.draft_title}} 

		    	<p class="pull-right text-muted">
		    		<small>
		    		&nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span>
		    		{{ submitted.modified }}
			    	</small>
		    	</p>
		    	<span class="label label-default pull-right" style='line-height:1.5;'>{{submitted.status}}</span>

		  </div>
		  <div class="panel-body">
		    {{submitted.draft|safe}}
		  </div>
          {% if submitted.status == 'graded' %}
  		  <div class="well well-sm" style='margin-bottom:0px;background-color:#FDFDFD;border:0px;'>
  		  	<div class='lead' style='margin-bottom:10px;'>
					<u>Reviews from <i>{{ submitted.reviewed_by }} :</i></u>
	    	</div>
		    {{submitted.review|safe}}
		  </div>
		  {% endif %}

		</div>
		{% empty %}

		<p class='lead'> No submitted drafts so far. </p>

		{% endfor %}
		</div>
		</div>
		<br>
		<br>
		</div>
	</div>
        {% endif %}
	<!-- Essay Discussion Section -->
	<div id='essay_discussion' class='col-xs-10 col-xs-offset-1' data-ajaxurl='{% url "save_post" %}' data-activityid='{{activity.id}}' data-activitytype='{{ activity.activity_type }}' {% if "edit_course" not in course_perms %} style='display:none;' {% endif %}>
		<div id="essay_discussion2">
        <h3>Instructions</h3>
        <p>{{activity.instructions|safe}}</p>
		<h3>Discussion</h3>

		<div  class='well well-sm' style='border:0px;'>
		<span>Jump to User: </span>
			{% for SingleUser, Permissions in object_course_users.items %}
			   {% if  not SingleUser.is_superuser %}
					{% get_obj_perms SingleUser for activity as "activity_temp_perms" %}
   		            	{% if "view_activity" in activity_temp_perms and SingleUser not in private_users %}
		            	&nbsp;<span class="label label-default userResponseToggle" style='cursor:pointer;' data-userdraft='user_{{SingleUser}}'>{{SingleUser}}</span>
		            	{% endif %} 
			   {% endif %}
			{% endfor %}
			&nbsp;<span class="label label-default userResponseAllToggle" style='cursor:pointer;'>show all</span>
        </div>

		{% regroup all_essay_responses by user as response_list %}

			{% for responses in response_list %}
				 
                 
            <div id='user_{{responses.grouper}}' class='allUserResponses bs-callout bs-callout-info' style='margin-top:15px;'>
            	 {% if responses.grouper in private_users or post.creator.is_superuser %}
                 <span><i class="fa fa-graduation-cap fa-fw fa-2x text-info" style='font-size:2.1em;color:#39b3d7;'></i><span class='lead' style='font-size:2.1em;color:#39b3d7;'>{{responses.grouper}}</span></span>
                 {% else %}
                 <span><i class="fa fa-user fa-fw fa-2x text-info" style='font-size:2.1em;color:#39b3d7;'></i><span class='lead' style='font-size:2.1em;color:#39b3d7;'>{{responses.grouper}}</span></span>
                 {% endif %}
                 
                 <div class="btn-group progress_drafts pull-right" data-toggle="buttons" >
             	 <!-- Draft Number Toggle -->
                 {% for response in responses.list  reversed %}
                  
	                  {% if forloop.last %}
	 				  <label class="btn btn-info btn-xs draftToggle active" style='z-index: 2;'>
					    <input type="radio" name="options" id="option1" autocomplete="off" checked value='essayResponse{{response.id}}'> Draft {{forloop.counter}} 
					  </label>
					  {% else %}
	 				  <label class="btn btn-info btn-xs draftToggle" style='margin-right:2em;z-index: 2;'>
					    <input type="radio" name="options" id="option1" autocomplete="off" value='essayResponse{{response.id}}'> Draft {{forloop.counter}} 
					  </label>

					  {% endif %}

                 {% endfor %}
			     </div>

			    <!-- Draft Content -->
				{% for response in responses.list %}
                   
                    <div id="essayResponse{{response.id}}" style="{% if forloop.first %}{% else %}display:none; {% endif %}border-radius:0px;margin-bottom:0px;">

			        <div class="panel panel-default" style='margin-bottom:0px;border-color:#FFFFFF;border-radius:0px;border:0px;background-image: url("{% static 'img/paper4.png' %}");background-repeat: repeat; '>
					  <div class="panel-heading" style='background-color:transparent;border-color:transparent;'>
					    <span class='lead'>{{response.draft_title}}</span>
					    	<p class="pull-right text-muted">
					    		<small>
					    		&nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span>
					    		{{ response.modified }}
						    	</small>
					    	</p>
					    	<span class="label label-default pull-right" style='line-height:1.5;'>{{response.status}}</span>

					  </div>
					  <hr style='border-top:1px solid #C5C5C5; margin-top:0px;margin-bottom:0px;margin-left:10px;margin-right:10px;'>
					  <div class="panel-body" style='padding-bottom:7px;'>
					    {{response.draft|safe}}
					  </div>

					  {% if "edit_course" in course_perms %}

			  		  <div style='padding:15px;padding-top:5px;padding-bottom:5px;'>
			            {% if response.status == 'graded' %}
			            <hr style='border-top:1px solid #C5C5C5; margin-top:0px;margin-bottom:0px;'>
			  		  	<div class='lead' style='margin-bottom:10px;'>
								Reviews from <i>{{ response.reviewed_by }} :</i> &nbsp;
				    	        </div>

					    {{response.review|safe}}
 <div style='height:2.0em;'><span>&nbsp;</span><span class='text-danger pull-right' style=""><i class="fa fa-gavel"></i><a href="{% url 'grade_essay' response.id %}" style='text-decoration:none;' class='text-danger'> Edit Review</a></span></div>

					    {% else %}
					    <div style='height:2.0em;'><span>&nbsp;</span><span class='text-danger pull-right' style=""><i class="fa fa-gavel"></i><a href="{% url 'grade_essay' response.id %}" style='text-decoration:none;' class='text-danger'> Grade Essay</a></span></div> 
					    {% endif %}
					  </div>

					  {% else %}

			              {% if response.status == 'graded' %}

	  			  		  <div style='padding:15px;padding-top:5px;padding-bottom:5px;'>
				              <hr style='border-top:1px solid #C5C5C5; margin-top:0px;margin-bottom:0px;'>
				  		  	<div class='lead' style='margin-bottom:10px;'>
									Reviews from <i>{{ response.reviewed_by }} :</i>
					    	</div>
						    {{response.review|safe}}
						  </div>
						  {% endif %}
					  {% endif %}

					</div>
 					
 					<!-- Comment Section for Draft -->
					<div style='width:99%;margin-top:0px;margin-left:1%;'>


                        <ul id="draft_comments{{ response.id }}"  style='list-style-type: none;padding:0; margin:0;' data-responseid="{{response.id}}">
    						{% for post in response.posts.all %}
	                        <li class="left clearfix commentlist">

								{% if post.creator in private_users or post.creator.is_superuser %}
								<span><i class="fa fa-graduation-cap fa-fw fa-2x pull-left text-muted" style='font-size:2.1em;'></i></span>
								{% else %}
								<span><i class="fa fa-user fa-fw fa-2x pull-left text-muted" style='font-size:2.1em;'></i></span>
								{% endif %}

	                            <div class="chat-body clearfix">
	                                <div class="header">
	                                    <strong class="primary-font">{{ post.creator|capfirst }}</strong> <small class="pull-right text-muted">
	                                        <span class="glyphicon glyphicon-time"></span>{{ post.created }}</small>
	                                </div>
	                                <p>
										{{ post.text|safe }}
	                                </p>
	                            </div>
	                        </li>
	                        {% endfor %}
	                        {% if user in private_users or post.creator.is_superuser %}
								<li class="left clearfix commentlist">
								<span><i class="fa fa-graduation-cap fa-fw fa-2x pull-left text-muted text-center" style='font-size:2.1em; margin-right:0.2em;'></i></span>
	                            <div class="chat-body clearfix" style='margin-left: 46px;' >
									<textarea class="form-control" rows="2" ></textarea>
	                            </div>
	                            </li>
								{% else %}
								<li class="left clearfix commentlist">
								<span><i class="fa fa-user fa-fw fa-2x pull-left text-muted text-center" style='font-size:2.1em; margin-right:0.2em;'></i></span>
	                            <div class="chat-body clearfix" style='margin-left: 46px;'>
									<textarea class="form-control" rows="2"></textarea>
	                            </div>
	                            </li>
							{% endif %}

	                    </ul>
					</div>
					<!-- End of Comment Section for Draft -->
	                </div>
	            {% endfor %}
				<br>
             </div>

			{% endfor %}
		
	</div>
</div>
<!-- Essay application ends here -->
{% endif %}

{% endblock contentwrap %}

{% block stylesheets %} 
<link href="{% static "css/essay.css" %}" rel="stylesheet">
<link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
{% endblock stylesheets%}
{% block more_javascript %} 
<script src="{% static "js/tinymce/tinymce.min.js" %}"></script>
<script src="{% static "js/essay.js" %}"></script>
{% endblock more_javascript %}
