<!-- essay.html -->
{% extends "base_activity.html" %}
{% load staticfiles %}

{% block contentwrap %}
    {% load guardian_tags %}
    {% get_obj_perms user for course as "course_perms" %}
	<!-- {{ block.super }} -->
	<h1 class="page-header">{{ activity.title }}
	{% if "edit_course" in course_perms %}
	<small><small><a href="{% url 'edit_essay' activity.id %}" class="text-muted" style='text-decoration:none;'><i class="fa fa-pencil-square-o"></i></a></small></small>
	<small><small><a href="{% url 'delete_essay' activity.id %}" class="text-muted" style='text-decoration:none;'><i class="fa fa-trash-o"></i></a></small></small>
	{% endif %}
	</h1>
	<p class="sub-header"><span class="text-muted">{{ activity.instructions|safe }}</span></p>
	<div>
		{% for post in activity.posts.all %}
			<p>{{ post.creator }}</p>
			<p>{{ post.created }}</p>
			<p>{{ post.text }} </p>
		{% empty %}
			<p>There are no posts to display. :(</p>
		{% endfor %}
	</div>	

{% endblock contentwrap %}

{% block stylesheets %} 
<link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
{% endblock stylesheets%}