{% extends "base.html" %}
{% load static %}
{% load guardian_tags %}
{% block stylesheets%}
    <link href="{% static "css/home.css" %}" rel="stylesheet">
{% endblock %}
{% block contentwrap %}
<h2 class="sub-header">Current Courses</h2>

<div class="row" >
    <div class="grid" >
        {% for course in course_list %}
            {% get_obj_perms user for course as "course_temp_perms" %}
            {% if course.is_active or "edit_course" in course_temp_perms %}
                <div class="grid-item">
                    <div class="card">
                        <div class="card-header">
                            {% if not course.is_active %}
                                <h4 class="card-title text-muted">{{ course.title }}</h4>
                                <h6 class="card-subtitle mb-2 text-muted">(DEACTIVATED)</h6>
                            {% else %}
                                <h4 class="card-title">{{ course.title }}</h4>
                                <h6 class="card-subtitle  mb-2 text-muted">{{ course.nickname }}<h6>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <p>{{ course.description }}</p>
                            <p>-with <i class="fas fa-graduation-cap"></i> 
                                {% for courseInstructor in course.get_private_users %}
                                    {% if not  courseInstructor.is_superuser %}
                                        <u>{{ courseInstructor }}&nbsp;</u>
                                    {% endif %}
                                {% endfor %}
                                <i class="fas fa-user"></i>&nbsp;{{ course.get_user_num }}
                            </p>
                            {% if not course.is_active %}
                               <a href="{{ course.get_absolute_url }}" class="card-link">
                                <button type="button" class="btn btn-warning text-muted">Check it</button>
                            </a>
                            {% else %}
                                <a href="{{ course.get_absolute_url }}" class="card-link">
                                    <button type="button" class="btn btn-success">Let&apos;s go!</button>
                                </a>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            {% endif %}
        {% empty %}
            <div class="col-md-12">
                <p class="center-block lead text-center">Hi, you do not appear to have any courses assigned to you. Try searching for your course <a href="{% url 'course_list' %}" class="btn btn-primary"><i class="fa fa-search"></i></a>.</p>
            {% if perms.core.create_course %}
                <p class="center-block lead text-center"><a href="{% url 'create_collection' %}" class="btn btn-success"> <i class="fa fa-plus-square"></i> Or, create a new course!</a></p>
            {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{% static "vendors/masonry/masonry.pkgd.min.js" %}"></script>
{% endblock %}