<!-- New navbar -->
{% load static %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a href="{% url 'index' %}"><img src="{% static 'img/Langlab-logo.png' %}" class="img-responsive wau-logo" width=100px></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Courses
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% load guardian_tags %}
                    {% for course_item in course_list %}
                        {% get_obj_perms user for course_item as "course_temp_perms" %}
                        {% if course_item.is_active or "edit_course" in course_temp_perms %}
                            <a class="dropdown-item" href="{{ course_item.get_absolute_url }}">{{ course_item.title }}</a>
                        {% endif %}
                    {% endfor %}
                    <div class="dropdown-divider"></div>
                    {% if perms.core.create_course %}
                        <a class="dropdown-item" href="{% url 'create_collection' %}">New Course</a>
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'course_list' %}"><small><span class="glyphicon glyphicon-search"></span> Search Course</small></a>
                    <a class="dropdown-item"><small data-toggle="modal" data-target=".courseSubscribe" style="cursor:pointer;"><i class="fa fa-book"></i> Subscribe with code</small></a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown pull-righ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{ user.username }}</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'profile:detail' slug=user.username %}">My Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">logout</a>
                </div>
            </li>
        </ul>

    </div>
</nav>
<!-- Navbar end -->