{% load static %}
{% if activity_type == "essay" %}
    <li id="{{ post.id }}" class="left clearfix commentlist" data-postid="{{ post.id }}">
        {% include 'post_subtemplate.html' with comment=post %}
    </li>
{% else %}

{% if not post.parent_post %}
<div id={{ post.id }} class="post">
    <li class="left clearfix chatlist" data-postid={{post.id}}>
	    {% include 'post_subtemplate.html' with comment=post private_users=private_users %}
        <!-- get attachments from fat Post Model -->
        {% if post.get_documents %}
            <div class="attachDIV well">
                {% for document in post.get_documents %}
                    <span><a href="{{ document.accessURL }}" target="_blank">{{ document }}</a></span>
                {% endfor %}
            </div>
        {% endif %}

        <!-- audio files with html 5 player -->
        {% if post.audio_URL %}
            <div id="{{post.audio_URL|cut:'.'}}" class='audioDiv'>
                <audio controls src="{{ post.audio_URL }}"></audio>
            </div>
        {% endif %}
    </li>

    <!-- comment section -->
    <div id="{{ post.id }}-comments" class="">
        <ul class="comment">
            {% if posts %}
                {% for post2 in posts reversed %}
                    {% if user in private_users or post2.creator in private_users or post2.creator == user %}
                        {% if post2.parent_post == post %}
                            <li id="{{ post2.id }}" class="left clearfix commentlist" data-postid={{post2.id}}>
                                {% include 'post_subtemplate.html' with comment=post2 %}
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}

            <!-- TODO: comment --> 
            <li class="left clearfix commentlist">
                {% include 'textarea_template.html' %}
            </li>
        </ul>
    </div>
    <!-- end of comment section -->
</div>

{% else %}
<li id="{{ post.id }}" class="left clearfix commentlist" data-postid="{{post.id}}">
    {% include 'post_subtemplate.html' with comment=post %}
</li>
{% endif %}
{% endif %}

