{% if comment.creator.profile.image %}
    <a href="{% url 'profile:detail' slug=comment.creator.username %}">
    <span><img src="{{ comment.creator.profile.image.url}}" style="height:35px; width:35px; float:left; margin-right:15px"></span></a>
{% else %}
    {% if comment.creator in private_users or comment.creator.is_superuser %}
    <span><i class="fa fa-graduation-cap fa-fw fa-2x pull-left text-muted" style='font-size:2.1em; vertical-align: middle;'></i></span>
    {% else %}
    <span ><i class="fa fa-user fa-fw fa-2x pull-left text-muted" style='font-size:2.1em; vertical-align: middle;'></i></span>
    {% endif %}
{% endif %}
<div class="chat-body clearfix">
    <div class="header">
        <strong class="primary-font">{{ comment.creator|capfirst }}</strong>
        <small class="pull-right text-muted">
            <span class="glyphicon glyphicon-time"></span> {{ comment.created }}
            {% if comment.creator == user or user in private_users %}
            <small><a class="text-muted removePost" style='text-decoration:none;cursor:pointer;'><i class="fa fa-remove text-danger"></i></a></small>
            {% endif %}
        </small>
    </div>
    <p>
        {% if comment.parent_post %}
            {{ comment.text }}
        {% else %}
            {{ comment.text|safe }}
        {% endif %}
    </p>
</div>
