{% if user.profile.image %}
	<a href="{% url 'profile:detail' slug=user.username  %}">
	<span><img src="{{ user.profile.image.url}}" style="height:35px; width:35px; float:left; margin-right:15px"></span></a>
{% else %}
	{% if user.is_superuser %}
	    <span><i class="fa fa-graduation-cap fa-fw fa-1x pull-left text-muted text-center" style='font-size:2.1em; margin-right:0.2em;'></i></span>
	{% else %}
	    <span><i class="fa fa-user fa-fw fa-1x pull-left text-muted text-center" style='font-size:2.1em; margin-right:0.2em;'></i></span>
	{% endif %}
{% endif %}

<div id="reply" class="chat-body clearfix" data-parent-id="{{ post.id }}" style='margin-left: 50px;'>
	<textarea id="{{ post.id }}-comment" class="form-control" rows="1"></textarea>
	<button id="send-{{ post.id }}-comment" type="button" class="btn btn-secondary btn-sm full-width">Comment</button>
</div>